.featured-offers {
  padding: 60px 20px;
  background-color: white;
  position: relative;
}

.offer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.offer-content img {
  width: 100%;
}

.control-btn {
  position: absolute;
  top: 55%;
  transform: translateY(5px);
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
  padding: 0;
}

.control-btn.left {
  left: 100px;  
}

.control-btn.right {
  right: 100px;
}

.control-btn svg {
  width: 27px;
  height: 27px;
  color: #fff;
  background-color: rgba(255, 169, 1, 1);
  border-radius: 50%;
  padding: 6px;  
  transition: 0.25s ease;
  box-shadow: 0 3px 8px rgba(0,0,0,0.25);
}

.control-btn svg:hover {
  background-color: #ffb400; 
  transform: scale(1.1); 
}

@media (max-width: 768px) {
  .offer-content {
    flex-direction: column;
    text-align: center;
  }
  
  .offer-title {
    font-size: 28px;
  }
  
  .offer-subtitle {
    font-size: 20px;
  }
}


