.bus-stations-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 40px;
}

.bus-stations-title {
  text-align: center; 
  margin-bottom: 20px;
  text-transform: uppercase;
}

.bus-stations-title span {
  display: inline-block;
  border-left: 4px solid rgba(255, 169, 1, 1);
  padding-left: 8px; 
}

.bus-stations-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
