.search-form {
  display: flex;
  gap: 15px;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  height: 147px;
  padding: 0 16px;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  max-width: 1366px;
}

.search-fields {
  display: flex;
  gap: 15px;
}

.search-field {
  display: flex;
  flex-direction: column;
  justify-content: center;    
  align-items: center;         
  border: 1px solid #9E9E9E;
  background-color: rgba(255, 255, 255, 0.6);
  width: 277px;
  height: 90px;
  border-radius: 6px;
}

.search-field:nth-child(2) {
  border-color: #000;
}

.search-field h3,
.search-field p {
  margin: 0;
}

.search-field>h3 {
  font-size: 14px;
  font-weight: 700;
  color: #565656 !important;
}

.search-field>p {
  font-size: 14px;
  font-weight: 400;
  color: #757575 !important;
}

.search-button {
  background: #FFA901;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  height: 90px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
  white-space: nowrap;
}

.search-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(255, 107, 53, 0.4);
}

@media (max-width: 768px) {
  .search-form {
    flex-direction: column;
    padding: 20px;
  }

  .search-fields {
    flex-direction: column;
  }

  .search-button {
    width: 100%;
    justify-content: center;
  }
}

