.popular-bus-operators {
  background-color: #fff;
  position: relative;
}

.operators-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.operator-card {
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(76, 76, 76, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  padding-bottom: 16px;
}

.operator-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.operator-image {
  width: 100%;
}

.operator-image img {
  width: 100%;
  height: 170px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.operator-name {
  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  padding: 0 16px;
}

.control-btn {
  position: absolute;
  top: 55%;
  transform: translateY(5px);
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
  padding: 0;
}

.control-btn.left {
  left: 100px;  
}

.control-btn.right {
  right: 100px;
}

.control-btn svg {
  width: 27px;
  height: 27px;
  color: #fff;
  background-color: rgba(255, 169, 1, 1);
  border-radius: 50%;
  padding: 6px;  
  transition: 0.25s ease;
  box-shadow: 0 3px 8px rgba(0,0,0,0.25);
}

.control-btn svg:hover {
  background-color: #ffb400; 
  transform: scale(1.1); 
}

@media (max-width: 768px) {
  .operators-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}


